
.SelectedListContainer{
    text-align: center;
    margin: 1em;
}
.SelectedListContainer h3{
    padding-bottom: .5em;
}
.ListContentContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ListContentContainer ul{
    align-content: left;
    padding: 0 2em;
}
.ListContentContainer li{
    margin-top: .25em;
}
.ListContentContainer input{
    margin-top: 1em;
}
.note{
    padding-bottom: 3em;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.ListItemContainer{
    display: flex;
    justify-content: space-between;
}
.ListItemContainer li:hover{
    text-decoration: line-through;
    color: gray;
}
.strikeThrough{
    text-decoration: line-through
}