
.createdLists{
    margin: 1em;
}
.createdLists h3{
    text-align: center;
    padding-bottom: .5em;
}
.lists{
    list-style: none;
    
}
.lists li{
    margin-top: .25em;
    text-align: center;
    border-style: solid;
}
.lists li:last-child{
    border-style: none;
}