
.AllTodoListsContainer{
    margin: 1em;
}
.AllTodoListsContainer h3{
    text-align: center;
    padding-bottom: .5em;
}
.AllTodoListsContainer ul{
    list-style: none;
}
.AllTodoListsContainer li{
    margin-top: .25em;
    text-align: center;
}
.AllTodoListsContainer li:last-child{
    border-style: none;
}
.AllTodoListsContainer input{
    width: 100%;
}
.TodoListContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.TodoListContainer li{
    border-style: solid;
    width: 100%;
   
}
.DeleteBtn{

}