
.AllTodoListsContainer{
    margin: 1em;
}
.AllTodoListsContainer h3{
    text-align: center;
    padding-bottom: .5em;
}
.AllTodoListsContainer ul{
    list-style: none;
}
.AllTodoListsContainer li{
    margin-top: .25em;
    text-align: center;
}
.addInput{
    border-style: none;
}
.AllTodoListsContainer input{
    width: 100%;
}
.TodoListContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.TodoListContainer li{
    border-style: solid;
    width: 100%;
   
}
.selectList {
    background-color: white;
}
.DeleteBtn:hover{
    background-color: rgb(184, 179, 136);
}
.DeleteBtn{
    cursor: pointer;
}