.AppContainer{
    display: flex;
    flex-direction: row;
}
.AllListsSideMenu{
    width: 35%;
    border-right: solid;
    background-color:rgb(255, 246, 180);
    border-radius: 10px;
}
.DisplayListContainer{
    border-radius: 10px;
    width: 100%
}