.showTodoList{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.showTodoList h2{
    text-align: center;
    font-weight: bold;
}
.noShow{
    display: none;
}
.showTodoList input{
    border-style: hidden;
}
.listcontainer{
    text-align: center;
    padding-left: 6em;
}
.todoListItems{
    display: inline-block;
    text-align: left;
}
.buttonContainer{
    text-align: center;
    padding-top: 1em;
}



