body{
    margin:auto;
    width: 85%;
}
*{
    margin: 0;
    padding: 0;
}
main{
    border-style: solid;
}
header{
    margin-top: 2em;
    border-style: solid;
    border-bottom: none;
}
header h1, header h2{
    text-align: center;
}