body{
    margin:auto;
    width: 85%;
}
*{
    margin: 0;
    padding: 0;
}
main{
    margin-top: 3em;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    box-shadow: 0 0 10px;
}
header{
    padding: 1em 0;
    border-bottom: solid;
    border-width: 3px;
    background-color: rgb(255, 246, 180);
    border-radius: 10px;
}
header h1, header h2{
    text-align: center;
}
button{
    border: none;
    padding-left: .2em;
}
input{
    border: none;
    background-color: transparent;
}